/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: url(../img/background.jpg) no-repeat center top #000;
}
#solarDiyContainer {
	position: absolute;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	font-family: "Microsoft Yahei","Yahei",sans-serif;
}
#solarDiy {
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -490px;
	margin-top: -250px;
	width: 960px;
	height: 480px;
	padding: 10px;
	background: rgba(255,255,255,0.1);
}
#solarDiyInner{
	background: #dd5519;
	width: 100%;
	height: 100%;
}
#solarCanvasContainer,#solarSelectContainer {
	background: #dd5519;
	width: 960px;
	height: 480px;
	position: relative;
}
#solarCanvas {
	background: #df5e25;
	margin-top:55px;
	margin-left: 16px;
}
#solarCanvasTitle {
	position: absolute;
	left: 16px;
	top: 26px;
}
#solarDiy-panel {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 480px;
	padding-left: 20px;
	padding-right: 20px;
	width: 184px;
	background: #DE742B;
	color: #FFF;
}
#solarDiy-panel-title,#solar-panel-login{
	padding-top: 80px;
}
#solarSelectList,#solarSelectList li {
	margin: 0;
	list-style: none;
	padding: 0;
}
#solarSelectList {
	padding-top: 106px;
}
#solarSelectList li {
	width: 218px;
	height: 285px;
	float: left;
	display: inline-block;
	background: rgba(255,255,255,0.05);
	border:1px solid rgba(255,255,255,0.3);
	margin-left: 18px;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
#solarSelectList a {
	color: #FFF;
	
}
#tokenList,#tokenList li {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}
#tokenList li {
	display: inline-block;
	float: left;
	width: 64px;
	margin-right: 10px;
}
.tokenLink {
	display: block;
	width: 100%;
	height: 100%;
	
	border-radius: 5px;
	text-align: center;
	color: #FFF;
	cursor: pointer;
}
.tokenLink:hover .tokenLink-img,.tokenLink:active  .tokenLink-img{
	background: #EF9034;
}

.tokenLink-img,.tokenLink-text {
	display: block;
	text-align: center;
	font-size: 10px;
}
.tokenLink-text {
	height: 24px;
	line-height: 20px;
}
.tokenLink-img {
	width: 100%;
	height: 64px;
	border-radius: 10px;
	background-color: #D2531C;
}

#tokenLink-solar img{
	padding-top: 5px;
	width: 35px;
}
#tokenLink-heater img{
	padding-top: 9px;
	width:55px; 
}
#tokenLink-receiver img{
	padding-top: 12px;
	width:50px; 
}
#tokenLink-window img{
	padding-top: 9px;
	width:60px; 
}
#tokenLink-chimney img{
	padding-top: 11px;
	width:40px; 
}
#tokenLink-invertor img{
	padding-top: 13px;
	width:40px; 
}
#diy-switcher {
	cursor: pointer;
	padding-left: 110px;
	padding-top: 5px;
}
#solarDiyClose {
	position: absolute;
	right: 232px;
	top: 10px;
	cursor: pointer;
}
#solarDiy-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #FFF;
	font-size:12px;
	width: 55px;
	height: 55px;
	margin-left: -27px;
	margin-top: -27px;
}
#solarDiy-loadingProgress {
	position: absolute;
	height: 20px;
	line-height: 20px;
	top:50%;
	left: 0;
	text-align: center;
	width: 100%;
	margin-top: -6px;
}
#solar-panel-select-next {
	background-color: #dd5519;
	display: block;
	border-radius: 10px;
	cursor: pointer;
	width: 150px;
	height: 78px;
	padding: 15px 8px;
	margin: 0 auto;
}
#solar-panel-select-next:hover {
	background-color: #EF9034;
}
#solar-panel-select-next img{
	width: 100%;
}
#solar-panel-loginTitle {
	font-size: 16px;
	line-height: 44px;
}
#diy-loginForm {
	width: 190px;
	margin: 0 auto;
	border-bottom: 1px dashed #f4bc93;
	margin-bottom: 96px;
	padding-bottom: 10px;
}
.textinput {
	background: #FFF;
	border-radius: 5px;
	border:0;
	text-shadow: none;
	height: 28px;
	line-height: 28px;
	width: 160px;
	margin-bottom: 8px;
	font-size: 12px;
	color: #333;
	padding: 0 2px 0 8px;
}
.textinput::-webkit-input-placeholder { /* WebKit browsers */
    color:    #dd5519;
}
.textinput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #dd5519;
}
.textinput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #dd5519;
}
.textinput:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #dd5519;
}
#diy-loginSubmit {
	color: #FFF;
	background:none;
	border: none;
	box-shadow: none;
	font-size: 16px;
	line-height: 25px;
	height: 25px;
	padding:0 26px 0 0;
	margin-right: 3px;
	text-align: left;
	background: url(../img/diy-loginsubmit.png) right center no-repeat;
	display:inline-block;
}
#solarDiyContainer {
	font-size: 12px;
}
#solarDiyContainer a {
	color: #FFF;
}
#diy-loginLinks {
	position: relative;
	top: -4px;
}
#diy-loginLinks a {
	display: inline-block;
	padding-right: 5px;
}
#solarSelect-flat img{
	width: 165px;
	margin-top: 40px;
}
#solarSelect-double img{
	width: 190px;
	margin-top: 48px;
}
#solarSelect-pitch img{
	width: 187px;
	margin-top: 40px;
}
.solarSelectTitle {
	background: url(../img/diy-loginsubmit.png) left center no-repeat;
	line-height: 25px;
	height: 25px;
	width: 80px;
	padding-left: 30px;
	position: absolute;
	bottom: 0;
	margin-bottom: 18px;
	left: 50%;
	margin-left: -55px;
	font-weight: normal;
	
}
#solarSelectList li {
	position: relative;
}
#solarSelectList li:hover {
	background: rgba(255,255,255,0.1);
	transform: scale(1.1);
	-ms-transform: scale(1.1);; /* IE 9 */
	-webkit-transform: scale(1.1);; /* Safari and Chrome */
}
#solarSelectList li.selected {
	background-color: #e87827;
	
}
#solarDiy-panel-widget {
	margin-left: 20px;
}

/* ==============
	test ui
===============*/

#testInput {
	width: 300px;
	height: 100px;
	color: #fff;
	background: #dd5519;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -80px;
	z-index: 999;
	text-align: center;
	padding: 30px 0;
	font-size: 14px;
	
}
#testInput h3 {
	margin: 0;
	font-weight: normal;
}
#ipt-area {
	width: 50px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
